@model IEnumerable<WebStore.Domain.Entities.Product>

@{
    ViewBag.Title = "Товары";
}

<div class="container">
    <div class="navbar-fixed-top" style="margin: 20px">
        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-primary">Вернуться назад</a>
    </div>


    <table class="table">
        <thead class="header_top">
            <tr>
                <th></th>
                <th>ID</th>
                <th>Наименование</th>
                <th>Бренд</th>
                <th></th>
                <th></th>
                <th>Цена</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Take(10))
            {
                <tr>
                    <td>
                        <a asp-area="Admin"
                           asp-controller="Products"
                           asp-action="Edit"
                           asp-route-id="@product.Id"
                           class="btn btn-info">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Brand?.Name</td>
                    <td>@product.Section.Name</td>
                    <td><img src="@product.ImageUrl" /></td>
                    <td>@product.Price</td>
                    <td>
                        <a asp-area="Admin"
                           asp-controller="Products"
                           asp-action="Delete"
                           asp-route-id="@product.Id"
                           class="btn btn-danger">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
