@model WebStore.Domain.ViewModels.CatalogViewModel

@{
    ViewBag.Title = "Товары";
}

<div class="navbar-fixed-top" style="margin: 20px">
    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-primary"><i class="fa fa-backward"></i></a>
</div>

<div class="container">

    <table class="table">
        <thead class="header_top">
            <tr>
                <th></th>
                <th>ID</th>
                <th>Наименование</th>
                <th>Бренд</th>
                <th></th>
                <th></th>
                <th>Цена</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>
                        <a asp-area="Admin"
                           asp-controller="Products"
                           asp-action="Edit"
                           asp-route-id="@product.Id"
                           class="btn btn-info">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Brand?</td>
                    <td>@product.Section</td>
                    <td><img src="@product.ImageUrl" /></td>
                    <td>@product.Price</td>
                    <td>
                        <a asp-area="Admin"
                           asp-controller="Products"
                           asp-action="Delete"
                           asp-route-id="@product.Id"
                           class="btn btn-danger">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
        <paging page-view-model="Model.PageViewModel"
                page-action="Index"
                page-url-sectionId="@Model.SectionId"
                page-url-brandId="@Model.BrandId"
                page-url-pageSize="@Context.Request.Query["PageSize"]"></paging>
    </div>
</div>
