@model Employee

<div class="container">
	<table class="table">
		<tr>
			<td>#</td>
			<td>Имя</td>
			<td>Фамилия</td>
			<td>Отчество</td>
			<td>Номер мед. страховки</td>
			<td>Дата трудоустройства</td>
		</tr>
		<tr>
			<td>@Model.Id</td>
			<td>@Model.Name</td>
			<td>@Model.LastName</td>
			<td>@Model.MiddleName</td>
			<td>@Model.MIN</td>
			<td>@Model.EmploymentDate</td>
		</tr>
    </table>
</div>