@model Employee
@{
    ViewBag.Title = $"{Model.Name} {Model.LastName}";
}

<div class="container">
    <table class="table">
        <tr>
            <td>#</td>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Отчество</td>
            <td>Номер мед. страховки</td>
            <td>Дата трудоустройства</td>
            <td></td>
        </tr>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.LastName</td>
            <td>@Model.MiddleName</td>
            <td>@Model.MIN</td>
            <td>@Model.EmploymentDate</td>
            <td><a asp-controller="Employees" asp-action="Edit" asp-route-id="@Model.Id"><span class="fa fa-edit"></span></a>
                 | <a asp-controller="Employees" asp-action="Delete" asp-route-id="@Model.Id"><span class="fa fa-trash-o alert-danger"></span></a></td>
        </tr>
    </table>
    <a asp-action="Index">Вернуться к списку</a>
</div>