@model IEnumerable<WebStore.Models.Employee>
@{
    ViewBag.Title = "Сотрудники";
}

<div class="container">
    <div class="btn-group-xs">
        <a asp-controller="Employees" asp-action="Create" class="btn btn-default">Создать</a>
    </div>
    <table class="table">
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Отчество</td>
            <td>Дополнительно</td>
        </tr>

        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Name</td>
                <td>@e.LastName</td>
                <td>@e.MiddleName</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a asp-action="Details" asp-route-id="@e.Id">
                                <span class="fa fa-info"></span>
                            </a>
                        </li>

                        <li>
                            <a asp-action="Edit" asp-route-id="@e.Id">
                                <span class="fa fa-edit"></span>
                            </a>
                        </li>
                        <li>
                            <form asp-action="DeleteConfirmed" asp-route-id="@e.Id">
                                <button type="submit" class="fa fa-trash-o text-danger"></button>
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </table>
</div>